@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#admin-login {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    opacity: 1;
    background-color: transparent;
    border: none;
}

#admin-login:hover {
    cursor: grab;
}

#admin-login:focus {
    border: 0;
}

h1 {
    font-family: Raleway;
    margin-top: 0px;
}

#main-content {
    margin: auto 0px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#project-pointer-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.s1 {
    background: url('images/061\ Sweet\ Period.png');
    background-size: cover;
    text-align: left;
}

.s1 h1 {
    font-size: 180px;
    font-weight: 100;
    margin: 0px auto 2px auto;
}

.s1 h2 {
    font-family: Raleway;
    font-size: 75px;
    margin: 2px auto 0px auto;
}

.s2 {
    background: url('images/021\ True\ Sunset.png');
    background-size: cover;
}

#slide2label {
    font-family: Raleway;
    display: inline-block;
    font-size: 150px;
    margin: 0px auto 0px auto;
}

.s3 {
    background: url('images/153\ Black\ Sea.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s3 h2 {
    font-family: Raleway;
    font-size: 6em;
}

#portrait {
    float: right;
    height: 200px;
    border-radius: 200px;
    margin-top: 15px;
}

#pixelArtMaker {
    margin-top: 2%;
    margin-right: 80px;
    height: 925px;
    width: 1000px;
    border-radius: 20px;
}

#car-wiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Car-Wiz-Photo {
    width: 30%;
}

#car-wiz-link {
    font-size: 1.5em;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: right;
    color: white;
    font-family: Raleway;
    font-size: 1.5em;
    background-color: black;
    opacity: .9;
    width: 35%;
    height: 60%;
    max-height: 625px;
    padding: 5px 35px 5px 35px;
    border-radius: 15px;
}

#aboutMe p {
    font-size: 20px;
    overflow: auto;
    margin-bottom: 10px;
}

#name {
    color: rgb(125, 249, 255);
    text-shadow: 1px 1px 3px black;
    font-weight: 100;
    font-size: 1.2em;
}

.icons {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#network-links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#linked-in:hover {
    filter: hue-rotate(88deg) saturate(186%) brightness(186%);
}

#git-hub:hover {
    filter: hue-rotate(88deg) saturate(186%) brightness(186%);
}

#arrow {
    mix-blend-mode: multiply;
}

#arrow-anchor {
    margin: 0px auto 0px auto;
}

#textContent {
    text-align: center;
    font-family: Raleway;
    float: left;
    font-size: 1em;
    width: 45%;
    margin: 5px auto 5px auto;
    padding: 5px 15px 5px 15px;
}

#textContent h2 {
    font-size: 2em;
    margin: none;
}

#pixel-art-maker {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#textContent p {
    font-size: 2em;
}

#blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 50px 5px 50px 5px;
    padding: 0px 40px 0px 40px;
}

#blog-container h1 {
    margin-top: 15px;
}

#blog {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 650px;
    margin: auto 0px auto 0px;
    overflow-y: auto;
}

#editor1 {
    margin-top: 30px;
}

#blog::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
}

#blog-entry {
    width: 20px;
}

.post {
    text-align: left;
    padding: 10px 10px;
    margin: 8px 0px 8px 0px;
    width: 95%;
    color: white;
    font-family: Raleway;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .7);
}

@media screen and (max-width: 1300px) {
    #main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #intro {
        margin: 0px auto 60px auto;
        height: 200px;
    }
    #aboutMe {
        margin: 0px auto 40px auto;
        min-width: 300px;
    }
    .s1 h1 {
        margin-top: 15px;
        font-size: 100px;
    }
    .s1 h2 {
        font-size: 35px;
    }
    #slide2label {
        font-size: 90px;
    }
    #arrow {
        width: 180px;
    }
    #car-wiz {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #Car-Wiz-Photo {
        width: 75%;
    }
    #textContent {
        width: 95%;
        font-size: .5em;
    }
    #textContent h2 {
        font-size: 45px;
        margin: none;
    }
    #pixelArtMaker {
        display: none;
    }
    #aboutMe p {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    #portrait {
        height: 75px;
    }
    .icons {
        height: 25px;
        width: 25px;
        margin-bottom: 6px;
        margin-left: 6px;
    }
    #aboutMe p {
        font-size: 12px;
    }
    #aboutMe {
        margin: 0px auto 40px auto;
        min-width: 220px;
    }
    .post h1 {
        font-size: 20px;
    }
    .post p {
        font-size: 12px;
    }
    #blog {
        margin: 25px 0px auto 0px;
    }
}

@media screen and (max-width: 450px) {
    .s1 h1 {
        margin-top: 15px;
        font-size: 80px;
    }
    .s1 h2 {
        font-size: 25px;
    }
    #blog {
        height: 600px;
    }
}